.body {
  position: relative;
  left: 20vw;
  width: 80vw;
}

.space {
  padding: 1vw;
  position: relative;
}

.space:nth-of-type(1) {
  left: 2px;
}

.space:nth-of-type(2) {
  left: 40%;
}

.card {
  padding: 2vw;
  width: auto;
  border: solid black 2px;
  border-radius: 10px 0 0 10px;
  background-color: #2f2f2f;
  margin: 3px 0 0 2px;
}