.headnav {
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #444444;
    height: 50px;
    z-index: 1;
}

.menu {
    background: none;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    padding: 10px;
}

.menu img {
    width: 30px;
    height: 30px;
}