.headnav {
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: #444444;
    height: 50px;
    z-index: 1;
}

.sidenav {
    width: 20vw;
    position: fixed;
    left: 0;
    background-color: #5c5c5c;
    height: 100vh;
    padding-top: 60px;
}

.menu {
    background: none;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    padding: 10px;
}

.menu img {
    width: 30px;
    height: 30px;
}